<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="serverconsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <serverconsole.Properties.Settings>
            <setting name="UspcDir" serializeAs="String">
                <value>c:\USPC.3\ut_files</value>
            </setting>
            <setting name="ConfigName" serializeAs="String">
                <value>default.us</value>
            </setting>
            <setting name="AscanTimeout" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ThreadTimeout" serializeAs="String">
                <value>100</value>
            </setting>
        </serverconsole.Properties.Settings>
    </userSettings>
</configuration>